.logo{
    margin-left: 5%;
    padding: 0.5%;
}

.img_logo{
    width: 25%;
}

.img_banner{
    width: 100%;
}

.cards_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.card_1{
    width: calc(20% - 15px);
    background-color: black;
    box-sizing: border-box;
}